@charset "utf-8";
body { background:#f3f4f6; }

#contents { z-index:0; padding:40px 0; }
.prev, .stop, .next { display:inline-block; text-indent:100%; white-space:nowrap; overflow:hidden; font-size:0; line-height:0; background:url('/open_content/main/images/main/icon_play.png') no-repeat; }

#tCon, #mCon { overflow:hidden; margin-bottom:15px; }
#pzone { float:left; position:relative; width:238px; border:1px solid #d1d1d1; }
#pzone>p { padding:10px 15px; font-size:11px; font-weight:600; border-bottom:1px solid #dfdfdf; background:#f9f9f9; }
#pzone ul.con { width:238px; height:240px; overflow:hidden; white-space:nowrap; }
#pzone ul.con li { display:inline-block; vertical-align:top}
#pzone ul.con li img {width:100%; min-height:240px}
#pzone .icon_play { position:absolute; right:10px; top:9px; }
#pzone .icon_play li { float:left; }
#pzone .prev { width:19px; height:20px; background-position:0 -50px; }
#pzone .stop { width:19px; height:20px; background-position:-50px -50px; }
#pzone .next { width:20px; height:20px; background-position:-100px -50px; }
#cCon { overflow:hidden; float:right; width:858px; border:1px solid #d1d1d1; }
#cCon #visual { float:left; width:62%; height:282px; background:#405491; }
#cCon #visual .slogan { padding-top:45px; color:#fff; font-size:14px; }
#cCon #visual .slogan p:first-child { padding-left:50px; }
#cCon #visual .slogan span { color:#fff005; }
#cCon #visual .slogan .bs { width:448px; height:38px; margin:15px auto 0; background:url('/open_content/dong/images/slogan.gif') no-repeat; }
#cCon .link { overflow:hidden; }
#cCon .link li { float:left; }
#cCon .link li a { display:block; font-size:15px; font-weight:600; color:#232323; }
#cCon .contact_c { float:right; width:38%; overflow:hidden; background:#fff; }
#cCon .contact_c .contact { float:left; width:100%; background-position:95% center; }
#cCon .contact_c .location { float:left; }
#dong17 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/17/m_location.jpg') no-repeat; }
#dong18 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/18/m_location.jpg') no-repeat; }
#dong19 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/19/m_location.jpg') no-repeat; }
#dong20 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/20/m_location.jpg') no-repeat; }
#dong21 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/21/m_location.jpg') no-repeat; }
#dong22 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/22/m_location.jpg') no-repeat; }
#dong23 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/23/m_location.jpg') no-repeat; }
#dong24 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/24/m_location.jpg') no-repeat; }
#dong25 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/25/m_location.jpg') no-repeat; }
#dong26 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/26/m_location.jpg') no-repeat; }
#dong27 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/27/m_location.jpg') no-repeat; }

#ban { padding:10px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f9f9f9; }
#ban>div { overflow:hidden; }
#ban h3, #ban .allView, #ban ul, #ban ul.icon_play li { float:left; }
#ban h3 { font-size:16px; }
#ban .allView { display:block; text-align:center; width:50px; margin-left:8px; margin-right:20px; font-size:12px; border:1px solid #ddd; background:#fff; }
#ban ul.con { white-space:nowrap; overflow:hidden; width:82%; margin-top:5px; margin-right:20px; }
#ban ul.con li { display:inline-block; margin-right:20px; letter-spacing:-1px; }
#ban .icon_play { margin-top:2px; }
#ban .icon_play a { width:15px; height:16px; }
#ban .icon_play .prev { background-position:0 -150px; }
#ban .icon_play .stop { background-position:-50px -150px; }

#ban .icon_play .next { background-position:-100px -150px; }

#civil { float:left; width:238px; border:1px solid #d7d7d7; }
#civil li { padding:29px; }
#civil li a { font-size:18px; font-weight:600; color:#3a3a3a; }
#civil li a span { display:block; margin-top:5px; padding-right:10px; font-size:11px; color:#7f7f7f; background:url('/open_content/dong/images/civil_point.gif') no-repeat 45px center; }
#civil li.l1 { border-bottom:1px solid #dfdfdf; background:#fff url('/open_content/dong/images/civil_icon1.gif') no-repeat right center; }
#civil li.l2 { background:#fff url('/open_content/dong/images/civil_icon2.gif') no-repeat right center; }

#board { position:relative; float:left; width:47%; margin-left:11px; border:1px solid #d7d7d7; background:#f2f2f2; }
#board ul, #board .more { display:none; }
#board .on ul, #board .on .more { display:block; }
#board h3 a { display:block; position:absolute; top:0; text-align:center; width:30%; height:50px; line-height:50px; font-size:16px; }
#board .news h3 a { left:30%; border-left:1px solid #d7d7d7; }
#board .on h3 a { height:51px; color:#2b3e7a; font-size:18px; background:#fff; }
#board ul { margin-top:50px; padding:28px; border-top:1px solid #d7d7d7; background:#fff; }
#board ul li { position:relative; margin-bottom:5px; padding-left:10px; background:url('/open_content/dong/images/board_blet.gif') no-repeat left center; }
#board ul li a { display:block; width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
#board ul li span { position:absolute; right:0; top:0; }
#board .more { position:absolute; right:10px; top:10px; width:25px; height:24px; background:url('/open_content/dong/images/more.gif') no-repeat; }

#photo { position:relative; float:right; width:327px; border:1px solid #dfdfdf; overflow:hidden; }
#photo img { width:327px; }
/*#photo>a { display:block; }*/
#photo .txt { position:absolute; bottom:0; left:0; width:100%; padding:12px 0; background:url('/open_content/dong/images/photo_bg.png') repeat; }
#photo .txt a { display:block; width:290px; margin:0 auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px; font-weight:600; color:#fff; }


/*PC*/
@media all and (min-width:769px){
#cCon .link { width:80%; margin:30px auto 0; }
#cCon .link li { width:48%; margin:0 1%; margin-bottom:10px; }
#cCon .link li a { display:block; padding-left:20px; height:38px; line-height:38px; background:#e9e9e9 url('/open_content/dong/images/link_icon.gif') no-repeat right top; }
#business { overflow:hidden; border:1px solid #d7d7d7; background:#fff; }
#business .tit { float:left; background:#676767; width:230px; color:#fff; }
#business .tit h3 { margin:40px 0 10px 40px; font-size:18px; background:url('/open_content/dong/images/business_tit.gif') no-repeat 135px center; } 
#business .tit p { margin:0 0 40px 40px; line-height:17px; }
#business ul { float:left; margin-top:30px; }
#business ul li { float:left; border-left:1px solid #dadada; }
#business ul li:first-child { border-left:0; }
#business ul li a { display:block; text-align:center; padding:65px 60px 0; font-size:13px; letter-spacing:-1px; }
#business ul li.b1 a { background:url('/open_content/dong/images/business_icon1.gif') no-repeat center top; }
#business ul li.b2 a { background:url('/open_content/dong/images/business_icon2.gif') no-repeat center 10px; }
#business ul li.b3 a { background:url('/open_content/dong/images/business_icon3.gif') no-repeat center 7px; }
#business ul li.b4 a { background:url('/open_content/dong/images/business_icon4.gif') no-repeat center 11px; }
#business ul li.b5 a { background:url('/open_content/dong/images/business_icon5.gif') no-repeat center 12px; }
}

/*1024*768포함(이하)*/
@media all and (max-width:1024px) {
#cCon { width:75%; }
#ban ul.con { width:78%; }
#board { width:41%; }
#business ul li a { padding:65px 49px 0; }
}


/*태블릿포함(이하)*/
@media all and (max-width:768px) {
#contents { padding:0; }
#tCon, #mCon { margin:0; }
#pzone { width:100%; padding:10px 0; border:0; background:#fff; }
#pzone>p { display:none; }
#pzone ul.con { margin:0 auto; }
#pzone .icon_play { position:static; }
#pzone .icon_play a { position:absolute; top:50%; margin-top:-16px;  }
#pzone .prev { left:10%; width:20px; height:32px; background-position:0 -200px; }
#pzone .next { right:10%; width:20px; height:32px; background-position:-50px -200px; }
#cCon { width:100%; border:0; border-top:1px solid #d1d1d1; }
#cCon .slogan { display:none; }
#cCon #visual { width:100%; height:auto; background:#f3f4f6; }
#cCon .link { margin:20px 0; }
#cCon .link li { width:25%; }
#cCon .link li a { text-align:center; padding-top:70px; }
#cCon .link li.l1 a { background:url('/open_content/dong/images/link_icon1.gif') no-repeat center 7px; }
#cCon .link li.l2 a { background:url('/open_content/dong/images/link_icon2.gif') no-repeat center 4px; }
#cCon .link li.l3 a { background:url('/open_content/dong/images/link_icon3.gif') no-repeat center 4px; }
#cCon .link li.l4 a { background:url('/open_content/dong/images/link_icon4.gif') no-repeat center top; }
#cCon .contact_c { width:100%; }
#cCon .contact_c .contact { width:50%; }
#cCon .contact_c .location { width:50%; background-position:center top; }
#civil { display:none; }
#board { width:100%; margin:0; border-left:0; border-right:0; }
#photo { float:none; margin:0 auto; max-width:100%; }
#business { padding:20px; color:#fff; background:#676767; }
#business .tit h3 { font-size:18px; font-weight:600; }
#business .tit p { display:none; }
#business ul { overflow:hidden; margin-top:10px; }
#business ul li { float:left; width:33.3%; margin-bottom:5px; }
#business ul li a { padding:0 0 0 10px; color:#fff; font-size:13px; background:url('/open_content/dong/images/business_blet.gif') no-repeat left center; } 

#ban { padding-left:20px; }
#ban ul.con { width:72%; }
}

/*640포함(이하)*/
@media all and (max-width:640px) {
#board ul li span,
#ban 
{ display:none; }
#board ul li a { width:95%; }

}

/*mobile_min*/
@media all and (max-width:480px) {
#pzone .prev { left:10px; }
#pzone .next { right:10px; }
#cCon .contact_c .contact, #cCon .contact_c .location { width:100%; }
#cCon .link li a { font-size:12px; }
#business ul li { width:50%; }
}