@charset "utf-8";
body { background:#f3f4f6; }

#login{
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.topsize{
  margin-right: 300px;
}

#contents {
  z-index: 0;
  padding: 40px 0;
  height: auto;
}

#bothr{
  height: 5px;
  padding: 10;
  border: 0 none; 
  color:red; 
  background-color: rgb(140, 141, 180); 
}

.footer{
  margin-top:200px;
}

#tophr {
    height: 5px;
    padding: 10;
    border: 0 none; 
    color:red; 
    background-color: rgb(140, 141, 180); 
}

ul, li, dl, dd {list-style-type:none;}

.slider img{margin:0 auto;
    width: 100%;
    height: 430px;
    position: relative;
}
.bx-wrapper{
    width: 100%;
    height: 70%;
}

#tCon, #mCon { overflow:hidden; margin-bottom:15px; }
#mainright { overflow:hidden; float:right; width:60%;  }
#mainleft { float:left; position:relative; width:37%;  border:1px solid #d1d1d1; }
#maincontent {
  overflow:hidden; float:left; width:100%;
  margin-left: 50px;
  margin-top: 60px;
}

  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    width: 100%;
    
    height: 50%;
  }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width:100%;
    background-color: rgba(21, 23, 26, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .portfolio-item .caption .caption-content {
    color: rgb(255, 255, 255);
    margin: auto 2rem 2rem;
  }
  .portfolio-item .caption .caption-content h2, .portfolio-item .caption .caption-content .h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  
.contact_c { float:inline-start; width:100%; overflow:hidden; background:#fff; position: relative; height: 50%;}
.contact_c .contact { float:inline-start; width:100%; background-position:95% center; }
.contact_c .location { float:inline-start; }

.bottom{
  width: 1110px;
  margin: 0 auto;
  height: 200px;
}

.context{
  z-index: 0;
  padding: 40px 0;
}

#mCon{
  width: 1110px;
  margin: 0 auto;
}

.m_board_area {width:100%; height:100%; margin-top:30px; overflow:hidden;}

.m_board_area .m_board01 {float:left; width:50%;  padding:0 27px 0 10px; overflow:hidden;}
.m_board_area .m_board01 .tit_area {width:100%; height:22px;}
.m_board_area .m_board02 {float:left; width:50%; padding:0 27px 0 10px; overflow:hidden;}
.m_board_area .m_board02 .tit_area {width:100%; height:22px;}

.m_board_area .tit_area .tit {float:left; padding:0 0 0 8px;}
.m_board_area .tit_area .tit h5{margin-bottom:1px;}
.m_board_area .tit_area .more {float:right; padding:3px 8px 0 0;}
.m_board_area .tit_area .more img {width:43px; margin-top:5px;}
.m_board_area .tit_area img {margin-bottom:1px; width: 100%;}
.m_board_area ul {width:266px; padding:15px 7px 0 7px}
.m_board_area ul .tit_txt {font-size: 11pt;}
.m_board_area ul .tit_txt_faq {font-size: 11pt;}
.m_board_area li {float:left; width:255px; padding:0 0 0 11px; background:url(/img/bl_m_list.gif) no-repeat left 8px; line-height:20px; color:#777;}
.m_board_area li a {float:left; color:#777;}
.m_board_area li span {float:left; padding-bottom:4px;}
.m_board_area li .ico_new {float:left; padding:2px 0 0 9px;}

.m_banner_area {clear:both; width:961px; height:169px; margin:0 auto; padding-top:30px;}
.m_banner_area li {float:left; margin-left:15px;}

#side{
  float: left;
  width: 220px;
}

.claerfix{ display:block;}
.side_title{
  height: 120px;
  border: 1px black solid;
  border-radius: 15px;
}

.side_title span {
  display: block;
  padding-top: 48px;
  font-size: 26px;
  line-height: 27px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
}

.side_menu{
  position: relative;
}

.side_menu a{
  color: black;
  font-size: 18px;
}

.side_menu ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.side_menu li {
  line-height: 16px;
}

#sideline{
  background-color: blue;
}

.card-body{
  width: 80%;
  margin-left: 50px;
  margin-top: 150px;
}
.lgntext{
  margin: 10px 10px 10px 267px;
}
.lgntext a{
  margin-left: 20px;
  color: black;
  border: 1px solid;
  font-size: 20px;
  padding: 5px;
}

.margin_t20 {
  margin-top: 20px !important;
  text-align: right !important;
}
.right {
  text-align: right !important;
}

.btn {
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #b9b9b9;
  font-weight: bold;
  font-size: 1.2em;
  background: #fff repeat-x left bottom;
  vertical-align: middle;
}

.abtn{ 
  padding:6px;  
  margin-right:15px;  
  width:27px;  
  color:black;  
  background-color: rgb(189,189,189);
  font:bold 15px tahoma;  
  border:1px solid rgb(189,189,189);  
  text-align:center;  
  text-decoration:none;  
}