@charset "utf-8";
body { background:#f3f4f6; }

hr {
    height: 1px;
    border: 0 none; 
    color:red; 
    background-color: #ccc; 
}

ul, li, dl, dd {list-style-type:none;}

.slider img{margin:0 auto;
    width: 100%;
    height: 300px;
}
.bx-wrapper{
    width: 60%;
    height: 310px;
    float: right;
}
.Gomain{
    width: 100%;
    float: left;
}

.leftbanner{
    float: left;
    width: 37%;
    height: 310px;
}

.portfolio-item .img-fluid{
    float: left;
    width: 100%;
    height: 100%;
}

  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
    height: 50%;
  }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width:100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .portfolio-item .caption .caption-content {
    color: rgb(255, 255, 255);
    margin: auto 2rem 2rem;
  }
  .portfolio-item .caption .caption-content h2, .portfolio-item .caption .caption-content .h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  
.Gomain .leftbanner .contact_c { float:inline-start; width:100%; overflow:hidden; background:#fff; position: relative; height: 50%;}
.Gomain .leftbanner .contact_c .contact { float:inline-start; width:100%; background-position:95% center; }
.Gomain .leftbanner .contact_c .location { float:inline-start; }

/* #contents { z-index:0; padding:40px 0; }
.prev, .stop, .next { display:inline-block; text-indent:100%; white-space:nowrap; overflow:hidden; font-size:0; line-height:0; background:url('/open_content/main/images/main/icon_play.png') no-repeat; }

#tCon, #mCon { overflow:hidden; margin-bottom:15px; }
#pzone { float:left; position:relative; width:238px; border:1px solid #d1d1d1; }
#pzone>p { padding:10px 15px; font-size:11px; font-weight:600; border-bottom:1px solid #dfdfdf; background:#f9f9f9; }
#pzone ul.con { width:238px; height:240px; overflow:hidden; white-space:nowrap; }
#pzone ul.con li { display:inline-block; vertical-align:top}
#pzone ul.con li img {width:100%; min-height:240px}
#pzone .icon_play { position:absolute; right:10px; top:9px; }
#pzone .icon_play li { float:left; }
#pzone .prev { width:19px; height:20px; background-position:0 -50px; }
#pzone .stop { width:19px; height:20px; background-position:-50px -50px; }
#pzone .next { width:20px; height:20px; background-position:-100px -50px; }
#cCon { overflow:hidden; float:right; width:858px; border:1px solid #d1d1d1; }
#cCon #visual { float:left; width:62%; height:282px; background:#405491; }
#cCon #visual .slogan { padding-top:45px; color:#fff; font-size:14px; }
#cCon #visual .slogan p:first-child { padding-left:50px; }
#cCon #visual .slogan span { color:#fff005; }
#cCon #visual .slogan .bs { width:448px; height:38px; margin:15px auto 0; background:url('/open_content/dong/images/slogan.gif') no-repeat; }
#cCon .link { overflow:hidden; }
#cCon .link li { float:left; }
#cCon .link li a { display:block; font-size:15px; font-weight:600; color:#232323; }
#cCon .contact_c { float:right; width:38%; overflow:hidden; background:#fff; }
#cCon .contact_c .contact { float:left; width:100%; background-position:95% center; }
#cCon .contact_c .location { float:left; }
#dong17 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/17/m_location.jpg') no-repeat; }
#dong18 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/18/m_location.jpg') no-repeat; }
#dong19 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/19/m_location.jpg') no-repeat; }
#dong20 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/20/m_location.jpg') no-repeat; }
#dong21 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/21/m_location.jpg') no-repeat; }
#dong22 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/22/m_location.jpg') no-repeat; }
#dong23 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/23/m_location.jpg') no-repeat; }
#dong24 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/24/m_location.jpg') no-repeat; }
#dong25 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/25/m_location.jpg') no-repeat; }
#dong26 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/26/m_location.jpg') no-repeat; }
#dong27 .location { width:327px; height:144px; background:#405491 url('/open_content/dong/images/27/m_location.jpg') no-repeat; }

#ban { padding:10px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f9f9f9; }
#ban>div { overflow:hidden; }
#ban h3, #ban .allView, #ban ul, #ban ul.icon_play li { float:left; }
#ban h3 { font-size:16px; }
#ban .allView { display:block; text-align:center; width:50px; margin-left:8px; margin-right:20px; font-size:12px; border:1px solid #ddd; background:#fff; }
#ban ul.con { white-space:nowrap; overflow:hidden; width:82%; margin-top:5px; margin-right:20px; }
#ban ul.con li { display:inline-block; margin-right:20px; letter-spacing:-1px; }
#ban .icon_play { margin-top:2px; }
#ban .icon_play a { width:15px; height:16px; }
#ban .icon_play .prev { background-position:0 -150px; }
#ban .icon_play .stop { background-position:-50px -150px; }

#ban .icon_play .next { background-position:-100px -150px; }

#civil { float:left; width:238px; border:1px solid #d7d7d7; }
#civil li { padding:29px; }
#civil li a { font-size:18px; font-weight:600; color:#3a3a3a; }
#civil li a span { display:block; margin-top:5px; padding-right:10px; font-size:11px; color:#7f7f7f; background:url('/open_content/dong/images/civil_point.gif') no-repeat 45px center; }
#civil li.l1 { border-bottom:1px solid #dfdfdf; background:#fff url('/open_content/dong/images/civil_icon1.gif') no-repeat right center; }
#civil li.l2 { background:#fff url('/open_content/dong/images/civil_icon2.gif') no-repeat right center; }

#board { position:relative; float:left; width:47%; margin-left:11px; border:1px solid #d7d7d7; background:#f2f2f2; }
#board ul, #board .more { display:none; }
#board .on ul, #board .on .more { display:block; }
#board h3 a { display:block; position:absolute; top:0; text-align:center; width:30%; height:50px; line-height:50px; font-size:16px; }
#board .news h3 a { left:30%; border-left:1px solid #d7d7d7; }
#board .on h3 a { height:51px; color:#2b3e7a; font-size:18px; background:#fff; }
#board ul { margin-top:50px; padding:28px; border-top:1px solid #d7d7d7; background:#fff; }
#board ul li { position:relative; margin-bottom:5px; padding-left:10px; background:url('/open_content/dong/images/board_blet.gif') no-repeat left center; }
#board ul li a { display:block; width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
#board ul li span { position:absolute; right:0; top:0; }
#board .more { position:absolute; right:10px; top:10px; width:25px; height:24px; background:url('/open_content/dong/images/more.gif') no-repeat; }

#photo { position:relative; float:right; width:327px; border:1px solid #dfdfdf; overflow:hidden; }
#photo img { width:327px; }
/*#photo>a { display:block; }*/
/* #photo .txt { position:absolute; bottom:0; left:0; width:100%; padding:12px 0; background:url('/open_content/dong/images/photo_bg.png') repeat; }
#photo .txt a { display:block; width:290px; margin:0 auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px; font-weight:600; color:#fff; }
