doctype html
html
        head
                title 프젝
                meta(charset='utf-8')
                meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
                link(rel='stylesheet' href='../css/default.css')
                link(rel='stylesheet' href='../css/chat.css')
                link(rel="stylesheet" href="../css/vuetify.min.css")
                link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css")
                script(src="https://cdn.jsdelivr.net/npm/vue")
                script(src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js")
                script(src="https://unpkg.com/axios/dist/axios.min.js")
                //- script(src="https://code.jquery.com/jquery-3.4.1.js")
                link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
                script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
                script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        body
            section(id="tabs" class="project-tab")
                        div(class="container")
                            div(class="row")
                                div(class="col-md-12")
                                    nav
                                        div(class="nav nav-tabs nav-fill" id="nav-tab" role="tablist")
                                            a(class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Project Tab 1
                                            a(class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false") Project Tab 2
                                            a(class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false") Project Tab 3
                                    div(class="tab-content" id="nav-tabContent")
                                        div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
                                            table(class="table" cellspacing="0")
                                                thead
                                                    tr
                                                        th Project Name
                                                        th Employer
                                                        th Awards
                                                tbody
                                                    tr
                                                        td
                                                            a(href="#") Work 1
                                                        td Doe
                                                        td john@example.com
                                                    
                                                    tr
                                                        td
                                                            a(href="#") Work 2
                                                        td Moe
                                                        td mary@example.com
                                                    tr
                                                        td 
                                                            a(href="#") Work 3
                                                        td Dooley
                                                        td july@example.com
                                        div(class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab")
                                            table(class="table" cellspacing="0")
                                                thead
                                                    tr
                                                        th Project Name
                                                        th Employer
                                                        th Awards
                                                tbody
                                                    tr
                                                        td
                                                            a(href="#") Work 1
                                                        td Doe
                                                        td john@example.com
                                                    
                                                    tr
                                                        td
                                                            a(href="#") Work 2
                                                        td Moe
                                                        td mary@example.com
                                                    tr
                                                        td 
                                                            a(href="#") Work 3
                                                        td Dooley
                                                        td july@example.com
                                        div(class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab")
                                            table(class="table" cellspacing="0")
                                                thead
                                                    tr
                                                        th Project Name
                                                        th Employer
                                                        th Awards
                                                tbody
                                                    tr
                                                        td
                                                            a(href="#") Work 1
                                                        td Doe
                                                        td john@example.com
                                                    
                                                    tr
                                                        td
                                                            a(href="#") Work 2
                                                        td Moe
                                                        td mary@example.com
                                                    tr
                                                        td 
                                                            a(href="#") Work 3
                                                        td Dooley
                                                        td july@example.com