body
    .footer
        hr.bothr
        .bottom
            .centext
                
                |opyright © 2019. Baek Jae Won Student Corporation. All rights reserved.
                <br>
                h 이용약관  
                h#redh 개인정보취급방침  
                h 이메일주소  무단수집거부  SSL보안인증
                <br>
                <br>
                |학생 학번 :201544089
                <br>
                |컴퓨터정보과 2학년 C반 백재원 인하공업전문대학
                <br>
                |개발자 : Baek Jae Won | 개인정보관리책임자 : Baek Jae Won
                <br> 
                |TEL 백재원학생 고객지원센터 010-5896-2240 E-MAIL : 
                h qor291@gmail.com