doctype html
html
        head
                title 프젝
                meta(charset='utf-8')
                meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no")
                link(rel='stylesheet' href='../css/main.css')
                //link(rel="stylesheet" href="../css/common.css")
                link(rel="stylesheet" href="../css/inc.css")
                script(src="https://code.jquery.com/jquery-3.4.1.js")
                link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
                script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
                //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
                link(rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css")
                //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
                script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")
                



        body(id="dong24")
            div(id="top")
                if(name)
                    a#login(href="/login/logout") 로그아웃
                    if(name!="root")
                        a#login(href="#") 회원정보
                    if(name=="root")
                        a(href="/root") 관리자
                else  
                    a#login(href="/login") 로그인
                div(class="wrap")
                    h1 
                        a 민원처리센터
                            //img(src="/image/logo.gif" alt="새로운 변화 모두가 행복한 동구 행정복지센터") 
                            //img(src="/image/logo2.gif" alt="송현1·2동")

                    div(id="nav")
                        ul
                            li(class="menu1")
                                a(href="/minboard") 공지사항
                                

                            li(class="menu2")
                                a(href="/minboard") 민원게시판
                               

                            li(class="menu3")
                                a(href="/open_content/dong/sub/center.jsp?dong=24") 요청게시판
                                

                            li(class="menu4")
                                a(href="/open_content/dong/sub/public.jsp?dong=24") FAQ
                            

                            li(class="menu5")
                                a(href="/open_content/dong/sub/notice.jsp?dong=24") 메뉴
            hr(id="tophr")
            
            
            