include ./header.jade
div(id="contents" class="wrap")            
        #side.NG.clearfix 
            .side_title 
                span 로그인
            .side_menu 
                ul 
                    li 로그인
                    hr#sideline
                    li ID/PW 찾기
                    hr#sideline
                    li 회원가입
        #tCon
            #maincontent
                h3 로그인
                hr#sideline
                .login
                    p 아이디
                        input(type="text" style="margin-left:25px")
                    p 패스워드
                        input(type="text" style="margin-left:10px")
                    button#loginbtn 로그인하기
include ./footer.jade
                
