include ./header.jade
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
div(id="contents" class="wrap")            
        #side.NG.clearfix 
            .side_title 
                span 회원
            .side_menu 
                ul 
                    li 
                        a(href="#") 로그인 
                    hr#sideline
                    li 
                        a(href="#") ID/PW 찾기 
                    hr#sideline
                    li 
                        a(href="/regi") 회원가입 
        #tCon
            #maincontent
                h3 로그인
                hr#sideline

        
            .card-body
                form#loginpost(action="/login" method="post")
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-user
                        input.form-control#loginid(type="text" placeholder="아이디" name="id" onkeyup="trim(this);" autocomplete="off")
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-key
                        input.form-control#loginpw(type="password" name="pw" placeholder="패스워드" onkeyup="trim(this);" autocomplete="off")
                    .form-group 
                        input.btn.btn-outline-danger.float-right.login_btn#loginbtn(type="button" name="btn" value="Login")
        #mCon
            .lgntext
                a(href="")  ID/PW 찾기
                a(href="/regi")  회원가입
include ./footer.jade
        script.
                $("#loginbtn").click(function(){
                                if($('#loginid').val()==''){
                                        alert("아이디를 입력하세요.");
                                }else if($('#loginpw').val()==''){
                                        alert("비밀번호를 입력하세요.");
                                }else{
                                        setTimeout(function(){
                                                $("#loginpost").submit();
                                        },1000)
                                }
                        });
                
