include ./header.jade
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
div(id="contents" class="wrap")            
        #side.NG.clearfix 
            .side_title 
                span 회원
            .side_menu 
                ul 
                    li 
                        a(href="#") 로그인 
                    hr#sideline
                    li 
                        a(href="#") ID/PW 찾기 
                    hr#sideline
                    li 
                        a(href="/regi") 회원가입 
        #tCon
            #maincontent
                h3 로그인
                hr#sideline

        
            .card-body
                form(action="" method="post")
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-user
                        input.form-control(type="text" placeholder="아이디")
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-key
                        input.form-control(type="password" name="password" placeholder="패스워드")
                    .form-group 
                        input.btn.btn-outline-danger.float-right.login_btn(type="submit" name="btn" value="Login")
        #mCon
            .lgntext
                a(href="")  ID/PW 찾기
                a(href="/regi")  회원가입
include ./footer.jade
                
