include ./header.jade
div(id="contents" class="wrap")            
                #side.NG.clearfix 
                    .side_title 
                        span 구민참여
                    .side_menu 
                        ul 
                            li 로그인
