include ./header.jade
link(rel='stylesheet' href='../css/board.css')
link(rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css")
script(src="https://uicdn.toast.com/grid/latest/tui-grid.js")
div(id="contents" class="wrap")            
    #side.NG.clearfix 
            .side_title 
                span 관리자
            .side_menu 
                ul 
                    li 
                        a(href="#") 관리자 
                    hr#sideline
                    li 
                        a(href="#") 민원처리
                    hr#sideline
                    li 
                        a(href="/regi") 요청게시판
        #tCon
            #maincontent
                h3 민원/처리
                hr#sideline
            .card-body
                div(class="aa")
                    button(onclick='select()') 조회
                    br
                    br
                    div(id="grid1")
                    br
                    div(id="grid2")

include ./footer.jade
                script.
                    var gridData1 =new Array();
                    var gridData2 =new Array();
                    var grid1;
                    var grid2;
                    
                    $(document).ready(function () {
            
                        createGrid1();
                        createGrid2();
                    });

                    function createGrid1(){
                        grid1 = new tui.Grid({
                            el: document.getElementById('grid1'),
                            data: gridData1,
                            scrollX: false,
                            scrollY: true,
                            rowHeight : 25,
                            minRowHeight : 25,
                            bodyHeight : 390,
                            header: { height: 25 },
                            columns: [
                                { header: 'NO',	name: "mb_no",		width: '20',	minWidth: '20',	align: 'center'  },
                                { header: '처리구분',	name: "b_status",	width: '50',	minWidth: '50',	align: 'center' },	
                                { header: '제목',	name: "mb_title",	width: '150',	minWidth: '150',	align: 'left' },	
                                { header: '작성자',	name: "mb_writer",	width: '80',	minWidth: '80',	align: 'left' },	
                                { header: '구분',	name: "mb_cate",	width: '50',	minWidth: '50',	align: 'left' },	
                                { header: '구분2',	name: "mb_sub_cate",	width: '50',	minWidth: '50',	align: 'left' },	
                                { header: '날짜',	name: "mb_date",	width: '100',	minWidth: '100',	align: 'left' },	
                                { header: '조회수',	name: "b_inquiry",	width: '20',	minWidth: '20',	align: 'right' }	
                            ]
                        });
                    }

                    function createGrid2(){
                        grid2 = new tui.Grid({
                            el: document.getElementById('grid2'),
                            data: gridData2,
                            scrollX: false,
                            scrollY: true,
                            rowHeight : 25,
                            minRowHeight : 25,
                            bodyHeight : 390,
                            header: { height: 25 },
                            columns: [
                                { header: 'NO',	name: "mb_no",		width: '20',	minWidth: '20',	align: 'center'  },
                                { header: '제목',	name: "mb_title",	width: '250',	minWidth: '250',	align: 'center' },	
                                { header: '내용',	name: "mb_content",	width: '150',	minWidth: '500',	align: 'left' },	
                            ]
                        });
                    }

                    function select(){
                        $.ajax({
                            type : "POST",
                            url : "/root",
                            data : {},
                            dataType : "json",
                            async : true,
                            cashe : false,
                            success : function(data){
                                gridData1=data.data;
                                gridData2=data.data;
                                grid1.clear();
                                grid1.refreshLayout();
                                grid1.resetData(gridData1);
                                grid2.clear();
                                grid2.refreshLayout();
                                grid2.resetData(gridData2);
                            }
                        })
                    }